/* Styles for the drawer container */
.drawer-container {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  background-color: #393838 !important;
  border-radius: 15px 0px 0px 15px;
  overflow: auto;
  border: 2px solid #464545 !important;
}

/* Override any border on the drawer paper */
.MuiDrawer-paper {
  border: none !important;
  box-shadow: none !important;
}

/* Other existing styles */
.drawer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 0px;
}

.drawer-close-button {
  padding: 10px;
  gap: 10px;
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: 0px;
  color: white;
  background: none;
  border: none;
  font-size: 40px;
  z-index: 1001;
  left: -5px !important;
}

.drawer-event-title {
  font-weight: bold !important;
  font-size: 28px !important;
  text-align: center;
  color: white;
  margin-top: 40px;
  margin-bottom: 0px;
  line-height: 1.2 !important;
}

.drawer-event-time {
  font-size: 17px;
  font-weight: bold !important;
  text-align: center;
  margin-bottom: -10px !important;
  color: white;
}

.drawer-info-container {
  background-color: #474343;
  border-radius: 15px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 90%;
  margin: 0 auto;
}

.drawer-info-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.drawer-info-text {
  font-size: 20px !important;
  color: white;
  font-weight: 200 !important;
  line-height: 1.4 !important;
}

.drawer-event-tag {
  margin-top: 10px;
  background-color: transparent;
  border-radius: 10px;
  padding: 4px;
  font-size: 12px;
  color: white;
  border: 2px solid white;
  font-weight: bold;
}

/* Common button styling for both buttons */
.drawer-button {
  color: white;
  font-weight: bold;
  width: 75%;
  text-align: center;
  margin: 8px auto 0;
  border-radius: 10px;
  box-shadow: none;
  font-size: 18px;
}

/* Specific styling for the "Check it out" button */
.drawer-check-it-out-button {
  background-color: #6AA6F8;
}

.drawer-check-it-out-button:hover {
  background-color: #5f94e6;
}

/* Specific styling for the "Share Event" button */
.drawer-share-button {
  background-color: #FF6347; /* bugged share button styling, this is the control*/
  height: 40px !important;
  width: 75% !important;
}

.drawer-share-button:hover {
  background-color: #FF4500;
}

/* Event description */
.drawer-event-description {
  margin-top: -10px !important;
  font-size: 16.5px !important;
  color: white;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.drawer-event-description.expanded {
  -webkit-line-clamp: unset;
}

.drawer-see-more {
  color: #6AA6F8;
  cursor: pointer;
}

.drawer-event-image-container {
  margin-top: 16px !important;
  display: flex;
  justify-content: center;
}

.drawer-event-image {
  max-width: 100%;
  height: auto;
  border-radius: 25px;
}

.drawer-reference-link {
  margin-top: 16px;
  font-size: 16px;
  color: #1e90ff;
  text-align: center;
}

/* Ensure headers "The Event" and "The Details" are bold */
.drawer-section-header {
  font-weight: bolder !important;
  color: white;
  font-size: 23px !important;
  margin-bottom: -5px;
  margin-top: -5px;
}

.drawer-section-divider {
  border: 0;
  height: 2px;
  background: white;
  margin: 4px 0 8px;
  width: 80%;
  margin-left: 0;
}

.drawer-event-details-container {
  background-color: #474343;
  border-radius: 15px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 90%;
  margin: 0 auto;
}

.drawer-map-container {
  margin-top: 10px;
  height: 200px;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 10px;
}
