.drawer-container {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  background-color: #393838 !important;
  border-radius: 15px 0px 0px 15px !important;
  overflow: auto;
  z-index: 1000; /* Ensure the drawer is above other content */
}

.drawer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.drawer-close-button {
  width: 50px !important;
  height: 50px !important;
  font-size: 50px !important;
  cursor: pointer;
  border: none;
  background: none;
  color: white;
  outline: none;
  box-shadow: none;
  top: -20px !important;
  z-index: 1100; /* Ensure it's above the drawer content */
}

.drawer-close-button:hover {
  background: none;
  color: white;
  outline: none;
  box-shadow: none;
}

.drawer-share-button {
  width: 30px !important;
  height: 30px !important;
  cursor: pointer;
}

.drawer-event-title {
  font-weight: bold !important;
  font-size: 28px !important;
  text-align: center;
  color: white;
  margin-bottom: 0;
  line-height: 1.2 !important;
}

.drawer-event-time {
  font-size: 17px;
  font-weight: bold !important;
  text-align: center;
  margin-bottom: 0px !important;
  color: white;
}

.drawer-info-container {
  background-color: #585858;
  border-radius: 15px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.drawer-info-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.drawer-location-icon,
.drawer-host-icon,
.drawer-registration-icon {
  width: 20px;
  height: 21px;
}

.drawer-info-text {
  font-size: 17px !important;
  color: white;
  font-weight: 200 !important;
  line-height: 1.4 !important;
}

.drawer-event-description {
  margin-top: -10px !important;
  font-size: 16.5px !important;
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin-bottom: 10px;
  line-height: 1.5;
}

.drawer-see-more {
  color: #6aa6f8;
  cursor: pointer;
  font-weight: bold;
  margin-left: 5px;
}

.drawer-event-description.expanded {
  -webkit-line-clamp: unset;
  white-space: normal;
}

.drawer-event-details-container {
  background-color: #474343;
  border-radius: 15px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.drawer-event-details-container .drawer-section-header {
  margin-bottom: -10px !important;
}

.drawer-event-details-container .drawer-event-description {
  margin-top: 0 !important;
}

.drawer-event-image-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.drawer-event-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.drawer-about-us-description {
  color: white;
  margin-top: 8px;
}

.custom-close-button {
  background: none;
  border: none;
  color: white;
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: 0px !important;
  left: -300px;
}

.drawer-tag-icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.drawer-tag-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.drawer-tag {
  display: inline-block;
  padding: 2px 8px;
  background-color: #464545;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-size: 17px;
  color: #ccc;
}

.drawer-tag:hover {
  background-color: #e0e0e0;
}

@media (max-width: 768px) {
  .drawer-container {
    padding: 10px;
    gap: 10px;
  }

  .drawer-event-title {
    font-size: 25px !important;
  }

  .drawer-event-time {
    font-size: 17px !important;
    color: #d7d5d5;
  }

  .drawer-info-container {
    padding: 10px;
  }

  .drawer-event-description {
    font-size: 14px !important;
  }
}
