.event-container {
  background-color: #464545;
  border-radius: 25px;
  color: white;
  margin-bottom: 10px;
  padding: 10px 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 20px;
  cursor: pointer;
  transition: transform 0.1s ease, box-shadow 0.1s ease,
    background-color 0.3s ease;
}

.event-container:hover {
  background-color: #3b3b3b; /* Darken the background on hover */
}

.event-container:active {
  transform: scale(0.97);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.event-time,
.event-title,
.event-host,
.event-location,
.event-registration,
.event-tags {
  font-size: 18px;
  color: #b9b9b9;
}

.event-title {
  font-weight: bold;
  font-size: 28px;
  overflow-wrap: break-word;
  color: #ffffff;
}

.event-host,
.event-location,
.event-registration,
.event-tags {
  display: flex;
  align-items: center;
}

.host-logo,
.location-logo,
.registration-logo {
  width: 16px;
  height: 20px;
  margin-right: 10px;
  vertical-align: text-top;
}

.tag-logo {
  margin-right: 10px;
  width: 25px;
  height: 29px;
  margin-top: -8px;
}

.tag {
  display: inline-block;
  padding: 2px 10px;
  margin-right: 8px;
  background-color: #464545;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-size: 18px;
}

.tag:hover {
  background-color: #464545;
}

.event-date {
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
}
